body{
    background-image: url("../Imagenes/portada_ark_evolution.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 5vh;
    width: 90%;
    border-radius: 15px;
    cursor: pointer;
    background-color:red;
    margin: 1%;
}

button {
    text-align: center;
    height: 4vh;
    width: 20vw;
    background: linear-gradient(to right, red, blue, green);
}

#titulo{
    background: linear-gradient(to right, red, blue, green); 
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-size: 10vh;
}

.divBoton{
    text-align: center;
}



