body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

#titulo{
    background: linear-gradient(to right, red, blue, green); 
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-size: 10vh;
}

table, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

table{
    margin: 0 auto;
}

#divBoton{
    text-align: center;
}

button {
    text-align: center;
    height: 4vh;
    width: 20vw;
    background: linear-gradient(to right, red, blue, green);
}
