body{
    background-image: url("../Imagenes/portada_ark_evolution.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

p{
    font-size: 3vh;
}

#contenedor{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50vh;
    width: 33vw;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    margin: 1%;
    img{
        width: 90%;
        height: 25vh;
    }
}

#temporada1{
    background-color: green;
}

#temporada2{
    background-color: blue;
}

#temporada3{
    background-color: red;
}

#temporada4{
    background-color: yellow;
}